#body {
  background-color: rgba(238, 238, 238, 1);
  font-family: "Droid Sans Mono Slashed";
  word-spacing: 0.2em;
  letter-spacing: 0.01em;
  line-height: 180%;
  font-weight: normal;
  font-style: normal;
}

#body .card {
  border-radius: 16px;
  border: none;
}